@keyframes fade{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

#title{
    margin: auto;
    width: 800px;
}
#title h1{
    margin: 3% auto 0% auto;
    text-shadow: 1px 1px 3px rgb(114, 111, 83);
    color: rgb(53, 53, 53);
    font-family: cursive;
    font-weight: 100;
    display: inline-block;
}

.header-tabs{
    position: relative;
    padding: 12px 18px;
    font-family: cursive;
    font-weight: 500;
    font-size: medium;
    left: 71%;
}

a:link, a:visited{
    background-color: transparent;
    color: rgb(53, 53, 53);
    text-align: center;
    display: inline;
}

.header-tabs:hover, .header-tabs:active {
    background-color: rgb(221, 215, 159);
}

#intro{
    animation: fade 1.5s ease forwards;
    position: relative;
    border-style: solid;
    border-radius: 5px;
    border-color: transparent;
    box-shadow: 1px 1px 4px 1px rgb(121, 116, 84);
    margin: 1% auto auto auto;
    width: 800px;
    
}

#intro h2{
    text-align: center;
    color: rgb(53, 53, 53);
    font-family: cursive;
    font-weight: 900;
}

#intro p{
    margin: auto auto auto 3%;
    width: 52%;
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

#intro img{
    margin: -210px auto 10% 62%;
    width: 250px;
    display: block;
    border-radius: 8px;
}

hr{
    border: 1px solid rgb(121, 116, 84);
    opacity: 0.5;
}
body{
    background-color: rgb(250, 243, 177);
}