body{
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background: rgb(250, 243, 177);

}

.header-tabs{
    position: absolute;
    padding: 12px 18px;
    font-family: cursive;
    font-weight: 500;
    font-size: medium;
    left: 93%;
    top: 1%;
}

a:link, a:visited{
    background-color: transparent;
    color: rgb(53, 53, 53);
    text-align: center;
    display: inline;
}

.header-tabs:hover, .header-tabs:active {
    background-color: rgb(221, 215, 159);
}

#canvas{
    box-shadow: 1px 1px 6px 1px black;
}

.field{
    margin: 0 18px;
}

.tools{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.tools .button{
    width: 80px;
    height: 40px;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    font-weight: bold;
    margin: 0 5px;
}

.color-picker{
    margin: 0 5px;
    height: 40px;
    width: 100px;
}

.pen-range{
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    
}

.container{
    margin: 0 10px;
    align-self: center;
    width: 200px;
}

.brush-range{
    width: 100%;
}

.width-value{
    margin: 0 10px;
    align-self: center;
}